<html>
    <head>
    </head>
        <body>
            <!-- Image and text -->
            <div class="container-fluid">
                    <div class="row">
                        <nav class="navbar navbar-dark bg-dark col">
                            <a class="navbar-brand" href="/index">
                            <span alt="" src="" height="60" class="d-inline-block align-top glyphicon glyphicon-flash" width="60" style="font-size: 20px;"></span>  Movie Recommendation System</a>
                        </nav>    
                    </div>
            </div>
        </body>
</html>

