<htm>
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline col-md-6 offset-3 mt-3" method="POST" action="search" name="form-data">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="search-box" class="sr-only"> Search a movie...</label>
                    <input type="text" class="form-control form-control-lg" id="search-box" placeholder="Star Wars" name="text">
                </div>
                <button type="submit" class="btn  btn-lg btn-primary mb-2">Search</button>
            </form>
        </div>
    </div>
</htm>